<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914112683186-aopk0kdmemsc6219utsiqrkdkaup1qtf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914112683186-aopk0kdmemsc6219utsiqrkdkaup1qtf</string>
	<key>API_KEY</key>
	<string>AIzaSyAOCzPEh8jnDJ_s3i6Jexfm_6wMqJ6wwl8</string>
	<key>GCM_SENDER_ID</key>
	<string>914112683186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatifyApp</string>
	<key>PROJECT_ID</key>
	<string>chatify-udemy-7a362</string>
	<key>STORAGE_BUCKET</key>
	<string>chatify-udemy-7a362.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914112683186:ios:f6eef45526fa2d6f97fdab</string>
</dict>
</plist>